name: CI & CD

on:
  push:
    branches: [ master, development ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master, development ]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: |
            3.11
            3.12
            3.13
            3.14
            3.15-dev
          cache: 'pip'
      - name: Prepare & Run Tests
        run: |
          make ci-prepare
          make tox

  deploy:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      
      - name: Build via Makefile
        run: |
          pip install tox
          make build

      - name: Publish to Test-PyPI
        if: contains(github.ref, '-test')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Publish to PyPI
        if: "!contains(github.ref, '-test')"
        uses: pypa/gh-action-pypi-publish@release/v1
